<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const serverHost = "localhost";
            const serverPort = 5002;
            const socket = new WebSocket(`ws://${serverHost}:${serverPort}/login`);
            const loginForm = document.querySelector('#login-form')
            const messageForm = document.querySelector('#message-form')
            messageForm.style.display = 'none'

            socket.addEventListener('message', (event) => {
              const data = event.data
              console.log(data)

              if (data === 'auth_success') {
                loginForm.style.display = 'none'
                messageForm.style.display = 'block'
              } else {
                const messages = document.querySelector('#messages')
                const newMessage = document.createElement('p')
                newMessage.innerText = event.data;
                messages.appendChild(newMessage)
              }
            })

            const usernameInput = document.querySelector('#username')
            const passwordInput = document.querySelector('#password')

            loginForm.addEventListener('submit', (event) => {
              event.preventDefault()

              const username = usernameInput.value
              const password = passwordInput.value

              socket.send(JSON.stringify({
                type: 'auth',
                username,
                password
              }))

              usernameInput.value = ''
              passwordInput.value = ''
            })


            const form = document.querySelector("#message-form");
            const socket_send_message = new WebSocket(`ws://${serverHost}:${serverPort}/chat`);
            form.addEventListener("submit", (event) => {
                event.preventDefault();

                const input = document.querySelector("#message-input");
                const message = input.value;
                input.value = "";

                socket_send_message.send(message);
            });
        });
    </script>
</head>
<body>
    <div id="login-form">
      <form>
        <label for="username">Username:</label>
        <input type="text" id="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" required>
        <button type="submit">Log in</button>
      </form>
    </div>
    <div id="messages"></div>
    <form id="message-form">
        <input type="text" id="message-input" placeholder="Type your message">
        <button type="submit">Send</button>
    </form>
</body>
</html>
